{{ range .Site.Params.education.list }}

{{ if .college_url }}
  <h4 style="text-decoration: underline;"><a href="{{ .college_url }}" target="_blank"><i>{{ .degree -}}</i></a></h4>
{{ else }}
  <h4 style="text-decoration: underline;">{{ .degree }}</h4>
{{ end }}





<p {{ if .thesis_title }}class="mb-0" {{ end }}></p>
  {{- .dates }} &middot; {{ .college -}}
</p>




{{ if .thesis_title }}
{{ if .thesis_url }}
<p>
  Thesis:
  <a href="{{ .thesis_url }}"><i>{{ .thesis_title }}</i></a>
</p>
{{ else }}
<p>
  Thesis: <i>{{ .thesis_title }}</i>
</p>
{{ end }}
{{ end }}

{{ if .details }}
<p></p>
  Curriculum included:
</p>
<div class="prose prose-stone dark:prose-invert max-w-none">
{{ .details | markdownify }}
</div>
{{ end }}


{{ end }}
